# Smart Building IoT Gateway - Environment Variables

# --- MQTT ---
MQTT_BROKER=mosquitto
MQTT_PORT=1883
MQTT_USER=admin
MQTT_PASSWORD=admin12345

# --- Sensor ---
# Nếu TV1 dùng giá trị khác, sửa lại ở đây
PUBLISH_INTERVAL=5

# --- InfluxDB ---
INFLUXDB_URL=http://influxdb:8086
INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=admin12345
INFLUXDB_ORG=iot-org
INFLUXDB_BUCKET=smart-building
INFLUXDB_TOKEN=my-super-secret-token

# --- Grafana ---
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
